OPENWEATHER_API_KEY = "your_openweather_api_key"
LAT = your lat
LON = your lon
BREAKPOINT_TEMP = 24 <- your breakpoint temp (when script start to add time to irrigation)
ADJ_PER_DEGREE = 8 <- how many percentage points it will add for each degree above breakpoint temp
RAIN_WEIGHT = 30 <- what is the max value in pp that can decrease because of rain (pop in the script is between 0 and 1)
MIN_ADJ = "-30" <- what is the minimal value in pp that can go to irrigation controller - if the script calculates -50 pp this will stop it at -30 pp
MAX_ADJ = 75 <- analogy to MIN_ADJ but this caps max pp it can add - if script calculates 150 pp this will stop at 75 pp
TARGET_FILE = "your_target_path_file"